@import "vendor/bootstrap/bootstrap/responsive-embed";
@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";
@import "mixins/ie10-and-up";
@import "mixins/triangle";
@import "components/flex-row";
@import "utility-classes";

$dev-2019-color-blue: #00ffeb;
$dev-2019-color-purple: #151028;
$dev-2019-color-orange: #E24329;
$dev-2019-color-yellow: #ffd900;
$dev-2019-color-dark-purple: #670077;
$dev-2019-color-pink: #a6009c;

$cloudguide-bg: #1d083f;

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: $cloudguide-bg;
  color: $color-white;
  padding-top: 0;

  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: lighten($link-color, 25%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: lighten($link-hover-color, 25%);
  }
}

h1 {
  @extend %u-margin-top-lg;
  @extend %u-margin-bottom-xs;
  @include accent-font-black;

  font-size: 46px;

  @media (min-width: $screen-sm-min) {
    font-size: 54px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 56px;
  }

  &.huge {
    @include accent-font-black;
    font-size: 45px;

    @media (min-width: $screen-sm-min) {
      font-size: 72px;
    }

    @media (min-width: $screen-md-min) {
      font-size: 80px;
    }    
  }
}

h2 {
  color: $color-white;
  font-size: 32px;
  font-weight: 3  00;

  @media (min-width: $screen-sm-min) {
    font-size: 36px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 40px;
  }
}

h3 {
  color: $color-white;
  font-size: 28px;
  font-weight: 300;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 32px;
  }
}

p {
  color: $color-white;
  font-size: 23px;
  font-weight: 300;
  line-height: 32px;
}

.btn-dev-2019 {
  @extend %u-margin-top-xs;
  @include font-weight-bold;
  
  color: $dev-2019-color-purple;
  background-color: $dev-2019-color-blue;
  transition: all 200ms;

  &.center {
    margin: 0 auto;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    transform: translateY(2px);
  }
}

#main-nav.navbar {
  max-width: 1200px;
  margin: 20px auto 0 auto;
  padding: 0;
  position: relative;

  a {
    font-size: 20px;
    font-weight: 600;
  }
}

.footer {
  background-color: $cloudguide-bg;
  margin-top: 0;
  padding-bottom: 0;
}

.footer-logo {
  top: -10px;
}

.hero {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  padding-top: ($spacing-unit-xl);
  position: relative;
  text-align: center;
}

.introduction {
  @extend %u-margin-top-lg;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;

  @media (max-width: $screen-md-min) {
    flex-direction: column;
  }

  .text-wrapper {
    @extend %u-margin-right-sm;
    @extend %u-margin-bottom-md;

    display: flex;
    flex-direction: row;
    justify-content: center;

    @media (max-width: $screen-md-min) {
      img {
        display: none;
      }
    }

    img {
      margin-top: -($spacing-unit-lg);
      flex: 1;
      max-width: 400px;
      min-width: 300px;
      object-fit: contain;
    }
  }

  .btn {
    margin-top: 40px;
  }
}

.pdf {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0 auto;
  max-width: 800px;
  padding: $spacing-unit-md $spacing-unit-sm $spacing-unit-md $spacing-unit-sm;
  position: relative;

  .confirm-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .btn {
      margin-top: 70px;
    }

    p {
      text-align: center;
      margin-top: 45px;
    }
  }

  .form-wrapper {
    position: relative;

    &:before,  &:after {
      content: "";
      display: block;
      position: absolute;
      width: 300px;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &:before {
      top: 25px;
      left: -175px;
      background-image: url("/images/dev-survey-2019/form-top-left.png");
      background-position-y: top;

      @media (max-width: $screen-md-min) {
        top: -73px;
      }
    }

    &:after {
      bottom: 25px;
      right: -175px;
      background-image: url("/images/dev-survey-2019/form-bottom-right.png");
      width: 300px;
      height: 100%;
      background-position-y: bottom;

      @media (max-width: $screen-md-min) {
        bottom: -25px;
      }
    }
  }

  h1, h2 {
    text-align: center;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
  }

  .mktoForm { // sass-lint:disable-line class-name-format
    position: relative;

    .mktoField { // sass-lint:disable-line class-name-format
      color: #333;
    }

    .mktoCheckboxList { // sass-lint:disable-line class-name-format
      margin-left: 10px;
    }

    // sass-lint:disable-all
    .mktoCheckboxList:not(.mktoRequired) input[type=checkbox]:focus {
      border: 2px solid $color-orange;
    }

    .mktoButton { // sass-lint:disable-line class-name-format
      background-color: $dev-2019-color-pink; 
      font-weight: 700;
    }

  }
}

/**//**//**//**//**//**//**/

.futureofcloudtitlewrapper {
  margin: -25px auto 40px auto;
  max-width: 900px;
  text-align: left;
  width: 100%;
}

.hero svg {
  font-weight:900;
  margin-bottom: -5%;
}

.confirmform .centered-form-info {
  text-align: center;
}

.confirmform .destination-url {
  text-decoration: underline;
}

.footer-after-outer-wrapper {
  display: block;
  height: 598px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.footer-after-inner-wrapper {
  align-items: flex-end;
  /*background: url("/images/resources/guide-to-cloud/bottom-complete.svg") no-repeat 0 0;*/
  display: flex;
  flex-wrap: nowrap;
  height: 598px;
  left: 50%;
  margin-left: -967px;
  position: absolute;
  width: calc(984px + 690px + 660px - 150px - 250px);
  /* width: calc ( left cloud width + center cloud/rocket width + right cloud width - left margin of cloud/rocket width - right margin of cloud/rocket width ); */
}

.footer-after-0 {
  background: url("/images/resources/guide-to-cloud/clouds-bottom-left.svg") no-repeat 0 0;
  display: flex;
  flex: 0 0 auto;
  height: 528px;
  width: 984px;
}

.footer-after-1 {
  background: url("/images/resources/guide-to-cloud/cloud-rocket-bottom.svg") no-repeat 0 0;
  display: flex;
  flex: 0 0 auto;
  height: 575px;
  margin: 0px -200px 0px -100px;
  width: 690px;
}

.footer-after-2 {
  background: url("/images/resources/guide-to-cloud/rocket-bottom.svg") no-repeat 0 0;
  bottom: 0;
  display: flex;
  flex: 0 0 auto;
  height: 575px;
  left: 884px;
  position: absolute;
  width: 690px;
  z-index: 11;
}

.footer-after-3 {
  background: url("/images/resources/guide-to-cloud/clouds-bottom-left.svg") no-repeat 0 0;
  display: flex;
  flex: 0 0 auto;
  height: 434px;
  width: 660px;
}
